
<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

</head>
<body>
<div class="ph3 mt3 ">

    <div class="fl w-100 w-80-ns ph2"  >
    <a class="f8 grow no-underline br-pill ph4 pv2 mb2 dib white bg-navy" href="employment.html">Home</a>
  <a class="f8 grow no-underline br-pill ph4 pv2 mb2 dib white bg-navy" href="about.html">About</a>
  <a class="f8 grow no-underline br-pill ph4 pv2 mb2 dib white bg-dark-blue" href="cafes.html">CV</a>
  <a class="f8 grow no-underline br-pill ph4 pv2 mb2 dib white bg-dark-green" href="#0">Contact</a>
    </div>

    <div class="fl w-100 w-20-ns ph2 ">
     <a class="link near-black hover-silver dib h2 w2 mr3" href="https://github.com/mrmrs" title="GitHub">
    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.083-.202-.358-1.015.077-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.364.092 2.003.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.246.543.735.543 1.48 0 1.07-.01 1.933-.01 2.195 0 .215.144.463.55.385C13.71 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8"/></svg>

  </a>
         <a class="link hover-silver near-black dib h2 w2 mr3" href="https://twitter.com/mrmrs_" title="Twitter">
    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z" fill-rule="nonzero"/></svg>
  </a>
  <a class="link hover-silver near-black dib h2 w2 mr3" href="https://tumblr.com" title="Tumblr">
    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M9.708 16c-3.396 0-4.687-2.504-4.687-4.274V6.498H3.403V4.432C5.83 3.557 6.412 1.368 6.55.12c.01-.086.077-.12.115-.12H9.01v4.076h3.2v2.422H8.997v4.98c.01.667.25 1.58 1.472 1.58h.067c.424-.012.994-.136 1.29-.278l.77 2.283c-.288.424-1.594.916-2.77.936h-.12z" fill-rule="nonzero"/></svg>
  </a>
    </div>





</div>

  <div >


  </div>
  
  
<main class="cf pa2 ">

    <div class="fl w-100 w-50-ns ph2">

     <section class="mw7 flw-70 avenir ph4">
  <h2 class="baskerville fw1 ph3 ph0-l">Projects</h2>





        <article class="bt bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black dim" href="{{ post.get_absolute_url }}">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="http://mrmrs.github.io/photos/cpu.jpg" class="db" alt="Photo of a dimly lit room with a computer interface terminal.">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 baskerville mt0 lh-title">  {{ post.title }}</h1>
          <p class="f6 f5-l lh-copy">
           {{ post.body|truncatewords:30|linebreaks }}
          </p>
          <p class="f6 lh-copy mv0">Published {{ post.publish }} by {{ post.author }}</p>
        </div>
      </div>
    </a>
  </article>







</section>

    </div>

    <div class="fl w-50 w-25-ns ph2">


<article class="bg-light-green center mw5 ba b--black-10 br3 pa3 ma2 dib bw2 mv4 shadow-5">
  <div class="pv2 ph3">
     <h1 class="f6 ttu tracked">Melbourne Disability Toilets</h1>
  </div>
  <img  src="{% static "pic/toilets.jpg" %}" alt="My image" />

  <div class="pa3">
    <a href="{% url 'blog:toilets' %}" class="link dim lh-title">Map of Melbourne City Toilets with Detail Accessibility Information </a>
    <small class="gray db pv2">Tools - <time> Python, MapBox,  HTML, CSS, Javascript  </time></small>
  </div>
</article>

    </div>

   <div class="fl w-50 w-25-ns ph2  ">

<article class="bg-washed-green center mw5 ba b--black-10 mv4">
  <div class="pv2 ph3">
     <h1 class="f6 ttu tracked">City of Melbourne Fire Hydrants</h1>
  </div>
  <img  src="{% static "pic/hydrants.png" %}" alt="My image"/>

  <div class="pa3">
    <a href="{% url 'blog:hydrants' %}" class="link dim lh-title">Map of Melbourne City Toilets with Detail Accessibility Information </a>
    <small class="gray db pv2">Tools - <time> Data Wrangling : Python, Mapping: Leaflet,  HTML, CSS, Javascript  </time></small>
  </div>
</article>

    </div>

   <div class="fl w-50 w-25-ns ph2 ">


<article class="bg-washed-green center mw5 ba b--black-10 mv4">
  <div class="pv2 ph3">
     <h1 class="f6 ttu tracked">City of Melbourne Employment Statistics</h1>
  </div>
  <img  src="{% static "pic/bokeh_plot.png" %}" alt="My image"/>

  <div class="pa3">
    <a href="{% url 'blog:employment' %}" class="link dim lh-title">Map of Melbourne City Toilets with Detail Accessibility Information </a>
    <small class="gray db pv2">Tools - <time> Python, Bokeh,  HTML, CSS, Javascript  </time></small>
  </div>
</article>


    </div>

 <div class="fl w-50 w-25-ns ph2 ">


<article class="bg-washed-green center mw5 ba b--black-10 mv4">
  <div class="pv2 ph3">
     <h1 class="f6 ttu tracked">City of Melbourne Employment Statistics</h1>
  </div>
  <img  src="{% static "pic/bokeh_plot.png" %}" alt="My image"/>

  <div class="pa3">
    <a href="{% url 'blog:employment' %}" class="link dim lh-title">Map of Melbourne City Toilets with Detail Accessibility Information </a>
    <small class="gray db pv2">Tools - <time> Python, Bokeh,  HTML, CSS, Javascript  </time></small>
  </div>
</article>


    </div>

 <div class="fl w-50 w-25-ns ph2 ">


<article class="bg-washed-green center mw5 ba b--black-10 mv4">
  <div class="pv2 ph3">
     <h1 class="f6 ttu tracked">City of Melbourne CAFES with Seating Capacity</h1>
  </div>
  <img  src="{% static "pic/bokeh_plot.png" %}" alt="My image"/>

  <div class="pa3">
    <a href="{% url 'blog:cafes' %}" class="link dim lh-title">Map of Melbourne City Toilets with Detail Accessibility Information </a>
    <small class="gray db pv2">Tools - <time> Python, Bokeh,  HTML, CSS, Javascript  </time></small>
  </div>
</article>


    </div>

</main>
  
</body>
</html>

